<div class="signup-container">
  <div class="signup-form">
    <h2>Create new account</h2>
    <div class="login-link">
      Or
      <a (click)="navigateToLogin()">log in to an existing account</a>
    </div>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          id="first-name"
          name="first-name"
          type="text"
          required
          [(ngModel)]="fname"
          placeholder="First Name"
        />
      </div>
      <div class="form-group">
        <input
          id="last-name"
          name="last-name"
          type="text"
          required
          [(ngModel)]="lname"
          placeholder="Last Name"
        />
      </div>
      <div class="form-group">
        <input
          id="email-address"
          name="email"
          type="email"
          autocomplete="email"
          required
          [(ngModel)]="email"
          (input)="onEmailChange()"
          (blur)="onEmailBlur()"
          [class.error]="(emailTouched && emailError) || duplicateEmailError"
          placeholder="Email address"
        />
        <div class="error-message" *ngIf="emailTouched && emailError">
          Please enter a valid email address
        </div>
        <div class="error-message" *ngIf="duplicateEmailError">
          An account with this email already exists.
        </div>
      </div>
      <div class="form-group password-group">
        <input
          id="password"
          name="password"
          [type]="showPassword ? 'text' : 'password'"
          autocomplete="new-password"
          required
          [(ngModel)]="password"
          (input)="onPasswordChange()"
          (blur)="onPasswordBlur()"
          [class.error]="passwordTouched && passwordError"
          placeholder="Password"
        />
        <button
          class="toggle-password"
          nz-button
          nzType="text"
          (click)="togglePasswordVisibility()"
          [attr.aria-label]="showPassword ? 'Ascunde parola' : 'Arată parola'"
        >
          <i *ngIf="!showPassword" nz-icon nzType="eye" nzTheme="outline"></i>
          <i
            *ngIf="showPassword"
            nz-icon
            nzType="eye-invisible"
            nzTheme="outline"
          ></i>
        </button>
        <div class="error-message" *ngIf="passwordTouched && passwordError">
          Password must have at least 6 characters
        </div>
      </div>
      <div class="form-group password-group">
        <input
          id="confirm-password"
          name="confirm-password"
          [type]="showConfirmPassword ? 'text' : 'password'"
          autocomplete="new-password"
          required
          [(ngModel)]="confirmPassword"
          (input)="onPasswordChange()"
          (blur)="onPasswordBlur()"
          [class.error]="passwordTouched && passwordError"
          placeholder="Confirm Password"
        />
        <button
          class="toggle-password"
          nz-button
          nzType="text"
          (click)="toggleConfirmPasswordVisibility()"
          [attr.aria-label]="
            showConfirmPassword ? 'Ascunde parola' : 'Arată parola'
          "
        >
          <i
            *ngIf="!showConfirmPassword"
            nz-icon
            nzType="eye"
            nzTheme="outline"
          ></i>
          <i
            *ngIf="showConfirmPassword"
            nz-icon
            nzType="eye-invisible"
            nzTheme="outline"
          ></i>
        </button>
        <div class="error-message" *ngIf="passwordTouched && passwordError">
          Passwords do not match
        </div>
      </div>

      <button
        nz-button
        class="submit-button"
        nzType="primary"
        [disabled]="emailError || passwordError"
        htmlType="submit"
      >
        <i nz-icon nzType="plus" nzTheme="outline"></i>
        Create account
      </button>
    </form>
  </div>
</div>
