<footer class="footer" id="footer">
    <div class="footer-content">
        <div class="footer-rights">
            <p>© 2025 TRAVEL TALES. ALL RIGHT RESERVED.</p>
            <p>help&#64;travel-tales.com</p>
        </div>

        <div class="footer-socials">
            <p>JOIN US</p>
            <ul class="footer-socials-list">
                <li class="footer-socials-item"><a href="https://linktr.ee/LINKEDIN_Acc" target="_blank" rel="noopener">LINKEDIN</a></li>
                <li class="footer-socials-item"><a href="https://linktr.ee/Github_Acc" target="_blank" rel="noopener">GITHUB</a></li>
                <li class="footer-socials-item"><a href="https://linktr.ee/Instagram_Acc" target="_blank" rel="noopener">INSTAGRAM</a></li>
            </ul>

        </div>

    </div>
</footer> 