<div class="title">
    <h1>WHERE TO?</h1>
</div>
    
<div class="main-border">
    <div class="border-image">
        <img src="assets/images/happy-travel.jpeg" alt="Travel Image">
    </div>

    <div class="border-separator"></div>

    <div class="border-content">
        <div class="border-content-title">
            <h3>ALL YOUR TRIPS IN ONE PLACE</h3>
        </div>

        <div class="border-content-text">
            <p>TravelTales is your personal travel journal, where you can document 
            your adventures, share your experiences, and relive your favorite moments.</p>
        </div>

        <div class="border-content-button">
            <button class="border-content-btn">LEARN MORE</button>
        </div>
    </div>
</div>

<div class="description">
    <div class="description-title">
        <h3>WELCOME TO TRAVEL TALES - YOUR JOURNEY</h3>
    </div>

    <div class="description-text">
        <p>Every trip you take tells a story. At Travel Tales, we help you capture those stories and turn 
        your travels into a visual journey you'll love revisiting.</p>
        <p>Whether you're a world explorer, a weekend wanderer, or just getting started, Travel Tales 
        is your personal travel companion - designed to make remembering your adventures as exciting as living them.</p>
    </div>

    <div class="description-todos">
        <h4>Pin Your Travels on the Map</h4>
        <p>
            See the world like never before! As you log each country you've visited, it comes alive on your personal world map — beautifully colored to show where your footprints have landed.
        </p>
        <h4>Keep Track of Every City</h4>
        <p>
            From cozy towns to buzzing capitals, add every city you've explored. View them all neatly organized in a table — your travels, in perfect order.
        </p>
        <h4>Relive Your Moments with Travel Cards</h4>
        <p>
            Each destination gets its own Travel Card — featuring a photo you upload, the name of the city and country, and the date you visited. It’s like a mini postcard from your own journey.
        </p>
    </div>

</div>

<footer class="footer" id="footer">
    <div class="footer-content">
        <div class="footer-rights">
            <p>© 2025 TRAVEL TALES. ALL RIGHT RESERVED.</p>
            <p>help&#64;travel-tales.com</p>
        </div>

        <div class="footer-socials">
            <p>JOIN US</p>
            <ul class="footer-socials-list">
                <li class="footer-socials-item"><a href="https://www.linkedin.com/in/george-p%C3%AErvu-87241829a/" target="_blank">LINKEDIN</a></li>
                <li class="footer-socials-item"><a href="https://github.com/prvu7" target="_blank">GITHUB</a></li>
                <li class="footer-socials-item"><a href="https://www.instagram.com/george.pirvuu/" target="_blank">INSTAGRAM</a></li>
            </ul>

        </div>

    </div>
</footer>