<div class="title">
    <h1>WHERE TO?</h1>
    
    <div class="main-border">
        <div class="border-image">
            <img src="assets/images/home-image.jpg" alt="Travel Image">
        </div>

        <div class="border-separator"></div>

        <div class="border-content">
            <div class="border-content-title">
                <h3>ALL YOUR TRIPS IN ONE PLACE</h3>
            </div>

            <div class="border-content-text">
                <p>TravelTales is your personal travel journal, where you can document 
                your adventures, share your experiences, and relive your favorite moments.</p>
            </div>

            <div class="border-content-button">
                <button class="border-content-btn">LEARN MORE</button>
            </div>
        </div>
    </div>
</div>