<div class="title">
    <h1>WHERE TO?</h1>
    
    <div class="main-border">
        <div class="border-image">
            <img src="assets/images/happy-travel.jpeg" alt="Travel Image">
        </div>

        <div class="border-separator"></div>

        <div class="border-content">
            <div class="border-content-title">
                <h3>ALL YOUR TRIPS IN ONE PLACE</h3>
            </div>

            <div class="border-content-text">
                <p>TravelTales is your personal travel journal, where you can document 
                your adventures, share your experiences, and relive your favorite moments.</p>
            </div>

            <div class="border-content-button">
                <button class="border-content-btn">LEARN MORE</button>
            </div>
        </div>
    </div>
</div>

<footer class="footer" id="footer">
    <div class="footer-content">
        <div class="footer-rights">
            <p>© 2025 TRAVEL TALES. ALL RIGHT RESERVED.</p>
            <p>help&#64;travel-tales.com</p>
        </div>

        <div class="footer-socials">
            <p>JOIN US</p>
            <ul class="footer-socials-list">
                <li class="footer-socials-item"><a href="https://www.linkedin.com/in/george-p%C3%AErvu-87241829a/" target="_blank">LINKEDIN</a></li>
                <li class="footer-socials-item"><a href="https://github.com/prvu7" target="_blank">GITHUB</a></li>
                <li class="footer-socials-item"><a href="https://www.instagram.com/george.pirvuu/" target="_blank">INSTAGRAM</a></li>
            </ul>

        </div>

    </div>
</footer>