<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo -->
    <div class="navbar-logo">
      <a routerLink="/" class="logo-link">
        <h2 class="title">Travel Tales</h2>
      </a>
    </div>

    <!-- Navigation Links -->
    <div class="navbar-nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/trips" routerLinkActive="active" class="nav-link">Trips</a>
        </li>
        <li class="nav-item">
          <a routerLink="/map" routerLinkActive="active" class="nav-link">Map</a>
        </li>
      </ul>
    </div>
    
    <!-- Actions (Logout and User) -->
    <div class="navbar-actions">
      <!-- User Icon with Dropdown -->
      <a nz-dropdown [nzDropdownMenu]="menu">
        <div class="navbar-user" *ngIf="authService.isLoggedIn()">
          <nz-avatar [nzText]="initial" class="user-logo" [nzSize]="'large'" [ngStyle]="{'background': color, 'color': '#fff'}"></nz-avatar>
        </div>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <!-- User Info Section -->
          <li nz-menu-item nzDisabled class="user-info-item">
            <div class="user-details">
              <span class="user-name">{{ name }}</span>
              <span class="user-email">{{ email }}</span>
            </div>
          </li>
          <li nz-menu-divider></li>

          <!-- Actions -->
          <li nz-menu-item routerLink="/login">
            <span nz-icon nzType="logout"></span>
            Logout
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>

  </div>
</nav>