<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo -->
    <div class="navbar-logo">
      <a routerLink="/" class="logo-link">
        <h2 class="title">Travel Tales</h2>
      </a>
    </div>

    <!-- Navigation Links -->
    <div class="navbar-nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/trips" routerLinkActive="active" class="nav-link">Trips</a>
        </li>
        <li class="nav-item">
          <a routerLink="/map" routerLinkActive="active" class="nav-link">Map</a>
        </li>
      </ul>
    </div>
    <button class="login-button" nz-button nzType="primary" routerLink="/login">
      <nz-icon nzType="login" nzTheme="outline"></nz-icon>
      Login
    </button>
    


    <!-- User Icon -->
    <div class="navbar-user">
        <nz-icon nzType="user" nzTheme="outline"></nz-icon>
    </div>
  </div>
</nav>