<div class="login-container">
  <div class="login-form">
    <h2>Login</h2>
    <div class="signup-link">
      or
      <a (click)="navigateToSignup()">create a new account</a>
    </div>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          id="email-address"
          name="email"
          type="email"
          autocomplete="email"
          required
          [(ngModel)]="email"
          (input)="onEmailChange()"
          (blur)="onEmailBlur()"
          [class.error]="(emailTouched && emailError) || emailNotFoundError"
          placeholder="Email address"
        />
        <div class="error-message" *ngIf="emailTouched && emailError">
          Please enter a valid email address
        </div>
        <div class="error-message" *ngIf="emailNotFoundError">
          Email is not registered.
        </div>
      </div>
      <div class="form-group password-group">
        <input
          id="password"
          name="password"
          [type]="showPassword ? 'text' : 'password'"
          autocomplete="current-password"
          required
          [(ngModel)]="password"
          placeholder="Password"
        />
        <button
          class="toggle-password"
          nz-button
          nzType="text"
          (click)="togglePasswordVisibility()"
          [attr.aria-label]="showPassword ? 'Ascunde parola' : 'Arată parola'"
        >
          <i *ngIf="!showPassword" nz-icon nzType="eye" nzTheme="outline"></i>
          <i
            *ngIf="showPassword"
            nz-icon
            nzType="eye-invisible"
            nzTheme="outline"
          ></i>
        </button>
        <div class="error-message" *ngIf="incorrectPasswordError">
          Incorrect password. Please try again.
        </div>
      </div>

      <div class="form-options">
        <div class="remember-me">
          <input id="remember-me" name="remember-me" type="checkbox" />
          <label for="remember-me">Remember me</label>
        </div>
        <a href="#" class="forgot-password">Forgot password?</a>
      </div>

      <button
        class="submit-button"
        nz-button
        nzType="primary"
        [disabled]="emailError"
        htmlType="submit"
      >
        <i nz-icon nzType="lock" nzTheme="outline"></i>
        Login
      </button>
    </form>
  </div>
</div>
